In [27]:
import cobra

In [28]:
from cobra import Model,Reaction,Metabolite

In [29]:
model=Model('Model_1')

In [30]:
#### Reactions ####

v1=Reaction('V1')
v1.name='V1'
v1.lower_bound=0
v1.upper_bound=1000


v2=Reaction('V2')
v2.name='V2'
v2.lower_bound=0
v2.upper_bound=1000


M1=Reaction('Model_1')
M1.name='Model_1'
M1.lower_bound=0
M1.upper_bound=1000


v0=Reaction('V0')
v0.name='V0'
v0.lower_bound=1
v0.upper_bound=1


v3=Reaction('V3')
v3.name='V3'
v3.lower_bound=.9
v3.upper_bound=.9


v4=Reaction('V4')
v4.name='V4'
v4.lower_bound=0
v4.upper_bound=1000

In [31]:
### Metabolites ###

A=Metabolite('A',compartment='C')
B=Metabolite('B',compartment='C')
C=Metabolite('C',compartment='C')
ATP=Metabolite('ATP',compartment='C')

In [32]:
# V1 : A--->B 
v1.add_metabolites({A:-1,B:1})

## V2 : B--->C 
v2.add_metabolites({B:-1,C:1})

### V0 : --->A 
v0.add_metabolites({A:1})

#### M : C--> 
M1.add_metabolites({C:-1})

##### V3 : A--->ATP 
v3.add_metabolites({A:-1,ATP:1})

###### V4 : ATP
v4.add_metabolites({ATP:-1})

In [33]:
model.add_reactions([v0,v1,v2,v3,v4,M1])

In [36]:
model.objective='Model_1'

In [37]:
model.optimize()

In [38]:
model.summary()